.selectItemTypeButton{
    width: 105px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
}

.selectItemTypeButtonRow{ 
display: flex;        /* 横並びにする */
flex-wrap: wrap;
gap: 40px;
row-gap: 20px;
position: relative;
top: 80px;
margin: 0 auto;
width: calc(105px * 5 + 40px * 4);
}

.arrayItemData{
    position: relative;
    top: 110px;
}

details{
    width: 800px;
    position: relative;

    left: 0px;
}

.table tr{
    height: auto !important;
}

.table td{
    height: auto !important;
}

.table details{
    height: auto !important;
}

.table summary{
    height: auto !important;
}

.getData{
    height: auto !important;
}

.mermaid {
  visibility: hidden;
}
